<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"/>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<script th:inline="javascript">
    function dataSend(){
        const inData =$("#search-input").val();
        const searchForm = {
            prompt:inData
        };
        $.ajax({
            url: "/search",
            data: searchForm,
            type: 'POST',
        }).done(function (data){
            $("#resultDiv").replaceWith(data);
        });
    }
</script>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
    <div class="jumbotron"><h2>NH-ChatGPT</h2>

        <form role="form" action="/search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="내용을 입력하세요" id="search-input">
            </div>
            <button type="button" class="btn btn-primary" onclick="dataSend()">Submit</button>
        </form>

        <div id="resultDiv">
            <p th:if="${rsData}!=null" th:text="${rsData}"></p>
        </div>

    </div>
    <div th:replace="~{fragments/footer :: footer}"/>
</div> <!-- /container -->
</body>
</html>
